/* Google Arvo Font */
@import url('https://fonts.googleapis.com/css?family=Arvo');

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotrom{
	text-align: center;
}
.btn-lg{
	font-size: 36px;
}