/* Google Arvo Font */
@import url('https://fonts.googleapis.com/css?family=Arvo');

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.right{
	float: right;
}
ul.nav, .jumbotron h1{
	font-family: 'Arvo', coureir, serif;
}
ul.nav{
	font-size: 13px;
}
.jumbotron{
	text-align: center;
	background: url('../images/hero_image.jpg') no-repeat;
    background-size: cover;
	color: white;
}
.jumbotron h1{
	margin-top: 0;
	margin-bottom: 50px;
}
.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}
.btn-lg{
	font-size: 36px;
}